{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="mallbery-ext-install" style="text-transform: none"></div>
<div class="msg">
    <div class="msg_item info-msg ">
        <div class="msg_item-wrap">
            <div>S
                <div class="msg_title">Товар был добавлен в корзину<span class="close_button">x</span></div>
                <div class="msg_content">
                    <div class="msg_product">
                        <div class="msg_product-content">
                            <div class="msg_product-img"><img
                                    src="/imgw/loc/153x213/uploads/product_image/2019/11/41/92d44947a3e33d1a5052d81cd048d4c2.jpg">
                            </div>
                            <div class="msg_product-info">
                                <div class="msg_product-name">Майка Трикомир</div>
                                <div class="msg_product-size"><!-- react-text: 11148 -->Размер: <!-- /react-text -->
                                    <!-- react-text: 11149 -->56<!-- /react-text --></div>
                                <div class="msg_product-qua"><!-- react-text: 11151 -->Кол-во: <!-- /react-text -->
                                    <!-- react-text: 11152 -->1<!-- /react-text --><!-- react-text: 11153 --> шт.
                                    <!-- /react-text --></div>
                                <div class="msg_product-price"><!-- react-text: 11155 -->Цена: <!-- /react-text -->
                                    <!-- react-text: 11156 -->66<!-- /react-text --><!-- react-text: 11157 --> грн
                                    <!-- /react-text --></div>
                            </div>
                        </div>
                    </div>
                    <div class="btn btn--make-order ">Оформить заказ</div>
                    <div class="">
                        <div class="make-order-all">
                            <div class="btn btn--make-order ">Оформить всё (6)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="up" class="header" data-reactid="6">
    <div class="header_container" data-reactid="7">
        <div class="header-desktop" data-reactid="8">
            <div class="header-info" data-reactid="9">
                <div class="header-info_left" data-reactid="10"><a href="/" class="header_logo" data-reactid="11"><img
                        src="/static/img/svg/header/mk-logo.svg" data-reactid="12"></a></div>
                <div class="header-info_right" data-reactid="13">
                    <div class="header-menu_item" data-reactid="17"><a href="/info/csc/"
                                                                       class="header_csc top_menu_item"
                                                                       daGhjta-reactid="18"><!-- react-text: 19 -->
                        Отделения<!-- /react-text --></a></div>
                    <div class="header-menu_item" data-reactid="20">
                        <div class="header_profile top_menu_item" data-reactid="21">Профиль</div>
                        <div class="header-drop_content" id="head1">
                            <div class="header-drop_wrap"><a href="/me/" class="header-drop_item me-link">Персональные
                                данные</a><a href="/me/orders/" class="header-drop_item orders-link">Заказы</a><a
                                    href="/me/cards/" class="header-drop_item cards-link">Банковские карты</a><a
                                    href="/me/addresses/" class="header-drop_item addresses-link">Адреса доставки</a><a
                                    href="/me/email-subscription/" class="header-drop_item subscriptions-link">Управление
                                рассылкой</a><a href="/r/" class="header-drop_item invite">Приведи друга</a><a
                                    href="/me/prime/" class="header-drop_item black-link">Kasta Black</a><a
                                    href="/kastaid/" class="header-drop_item kasta-id-link">KastaID</a><a
                                    href="/me/vouchers/" class="header-drop_item vouchers-link">Бонусы</a><a
                                    class="header-drop_item logout-link">Выйти</a></div>
                        </div>
                    </div>
                    <div class="header-menu_item" data-reactid="23"><a href="/page/support/contacts/"
                                                                       class="header_help top_menu_item"
                                                                       data-reactid="24"><span
                            data-reactid="25">Помощь</span></a>
                        <div class="header-drop_content" id="head2">
                            <div class="header-drop_wrap"><a href="/page/support/aboutus/"
                                                             class="header-drop_item header__help-item">O kasta.ua</a><a
                                    href="/page/support/black-and-kastaid/" class="header-drop_item header__help-item">Black
                                и KastaID</a><a href="/page/support/campaigns-and-bonuses/"
                                                class="header-drop_item header__help-item">Акции и бонусы</a><a
                                    href="/page/support/contacts/"
                                    class="header-drop_item header__help-item">Контакты</a><a
                                    href="/page/support/deliveries/"
                                    class="header-drop_item header__help-item">Доставка</a><a
                                    href="/page/support/payments-and-loans/" class="header-drop_item header__help-item">Оплата
                                и кредит</a><a href="/page/support/products-and-orders/"
                                               class="header-drop_item header__help-item">Товары и заказы</a><a
                                    href="/page/support/warranty-and-returnpolicy/"
                                    class="header-drop_item header__help-item">Гарантия и возврат</a><a
                                    href="/page/support/your-size/" class="header-drop_item header__help-item">Как
                                выбрать размер</a></div>
                        </div>
                    </div>
                    <div class="header-menu_item" data-reactid="25"><a class="header_wish top_menu_item"
                                                                       data-reactid="26">Избранное</a></div>

                    <a href="/basket/" class="header_basket" data-reactid="30"><span><span
                            class="header_quantity">4</span></span><span class="header_basket-title" data-reactid="31">Корзина</span></a>
                </div>
            </div>
            <div class="nav_container" data-reactid="32">


            </div>
        </div>
    </div>
</div>
<div class="wrapper light_bg" data-reactid="118">
    <div data-reactid="119">
    </div>
    <div>
        <div class="catalogue product-list-wrap catalogue--desktop">
            <div class="catalogue__inner">
                <div class="catalogue__base">
                    <div class="products products-list products--four-column">
                        <div style="position: relative; height: 14850px;">
                            <div style="transform: translate3d(0px, 0px, 0px);">
                                <div>
                                    <div class="product__item">
                                        <div class="product_item product_item_full product_item--sold">
                                            <div class="redesign-icon"><!-- react-empty: 21422 --></div>
                                            <div class="pd-item__pd-stickers"></div>
                                            <div><img src="/static/img/pict-holder.png">
                                                <div class="product__img loaded">
                                                    <div class="slideshow">
                                                        <div class="slideshow_switches">
                                                            <div class="slideshow_prev"></div>
                                                            <div class="slideshow_next"></div>
                                                        </div>
                                                        <div class="slideshow_slide"><a href="/product/9385197:702/"
                                                                                        class="product__link"><img
                                                                src="/imgw/loc/310x431/uploads/product_image/2019/08/328/e7fcdb79f2b4f9824afd95f685fd4267.jpeg"
                                                                alt="Черная зимняя куртка    Icon"></a></div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="product__link">
                                                        <div class="product__info_container">
                                                            <div class="product__info-wrap">
                                                                <div class="product__info_price">
                                                                    <div class="product__info_price_cur"><span
                                                                            class="product_item__new-cost">1 697 грн</span>
                                                                    </div>
                                                                    <div class="product__info_price_old">
                                                                        <div class="pd-old-price"><span
                                                                                class="product_item__old-cost">3 175 грн</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-status product__sales">
                                                                    <div class="product-status__text">Продано</div>
                                                                </div>
                                                            </div>
                                                            <a href="/product/9385197:702/" class="product__info_desc">
                                                                <div class="w-end-campaign"><span
                                                                        class="end-campaign-text"><div
                                                                        class="pd_prop_h3">Акция:</div></span><span
                                                                        class="end-campaign"><span class="counter"><span
                                                                        class="timer-value"><!-- react-text: 21370 -->1 день 11:51:40
                                                                    <!-- /react-text --></span></span></span></div>
                                                                <div class="product__info_name">Куртка Icon</div>
                                                            </a><a href="/product/9385197:702/?scroll-to-review=1"
                                                                   class="catalog-rating-info">
                                                            <div class="starbox">
                                                                <div class="starbox__container">
                                                                    <div class="starbox__stars">
                                                                        <div class="starbox__colorbar"
                                                                             style="width: 94%;"></div>
                                                                        <div class="starbox__holder">
                                                                            <div class="starbox__item"></div>
                                                                            <div class="starbox__item"></div>
                                                                            <div class="starbox__item"></div>
                                                                            <div class="starbox__item"></div>
                                                                            <div class="starbox__item"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="pd__rating-reviews"><span
                                                                    itemprop="reviewCount">51</span></div>
                                                        </a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $('.top_menu_item.header_profile').mouseenter(function () {
        $('#head1').show();
    });
    $('.top_menu_item.header_profile').mouseleave(function () {
        $('#head1').hide();
    });


    $('.top_menu_item.header_help').mouseenter(function () {
        $('#head2').show();
    });
    $('.top_menu_item.header_help').mouseleave(function () {
        $('#head2').hide();
    });

    $(document).ready(function () {

        $('.product-status.product__sales').on('click', function () {
            if ($('.product-status__text').text() === 'Купить') {
                $('.msg').toggle();
            }
        });

    });

    $(document).ready(function () {

        $('.close_button').on('click', function () {
            console.log($(this).before());
            $('.msg').hide();
        });

    });

</script>
</body>
</html>