{% extends 'base.html' %}
{% load static %}git
<html lang="en">
<body>
{% block body %}
    <div class="mallbery-ext-install" style="text-transform: none"></div>
    <div class="msg">
        <div class="msg_item info-msg ">
            <div class="msg_item-wrap">
                <div>S
                    <div class="msg_title">Товар был добавлен в корзину<span class="close_button">x</span></div>
                    <div class="msg_content">
                        <div class="msg_product">
                            <div class="msg_product-content">
                                <div class="msg_product-img"><img
                                        src="/imgw/loc/153x213/uploads/product_image/2019/11/41/92d44947a3e33d1a5052d81cd048d4c2.jpg">
                                </div>
                                <div class="msg_product-info">
                                    <div class="msg_product-name">Майка Трикомир</div>
                                    <div class="msg_product-size"><!-- react-text: 11148 -->Размер: <!-- /react-text -->
                                        <!-- react-text: 11149 -->56<!-- /react-text --></div>
                                    <div class="msg_product-qua"><!-- react-text: 11151 -->Кол-во: <!-- /react-text -->
                                        <!-- react-text: 11152 -->1<!-- /react-text --><!-- react-text: 11153 --> шт.
                                        <!-- /react-text --></div>
                                    <div class="msg_product-price"><!-- react-text: 11155 -->Цена: <!-- /react-text -->
                                        <!-- react-text: 11156 -->66<!-- /react-text --><!-- react-text: 11157 --> грн
                                        <!-- /react-text --></div>
                                </div>
                            </div>
                        </div>
                        <div class="btn btn--make-order ">Оформить заказ</div>
                        <div class="">
                            <div class="make-order-all">
                                <div class="btn btn--make-order ">Оформить всё (6)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="container">

            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark red darken-3 mt-3 mb-5">
            </nav>
            <!--/.Navbar-->

            <!--Section: Products v.3-->
            <section class="text-center mb-4">

                <!--Grid row-->
                <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
                                     class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="" class="grey-text">
                                    <h5>Shirt</h5>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="" class="dark-grey-text">Denim shirt
                                            <span class="badge badge-pill danger-color">NEW</span>
                                        </a>
                                    </strong>
                                </h5>

                                <h4 class="font-weight-bold blue-text">
                                    <strong>120$</strong>
                                </h4>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg"
                                     class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="" class="grey-text">
                                    <h5>Sport wear</h5>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="" class="dark-grey-text">Sweatshirt</a>
                                    </strong>
                                </h5>

                                <h4 class="font-weight-bold blue-text">
                                    <strong>139$</strong>
                                </h4>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg"
                                     class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="" class="grey-text">
                                    <h5>Sport wear</h5>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="" class="dark-grey-text">Grey blouse
                                            <span class="badge badge-pill primary-color">bestseller</span>
                                        </a>
                                    </strong>
                                </h5>

                                <h4 class="font-weight-bold blue-text">
                                    <strong>99$</strong>
                                </h4>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Grid column-->

                    <!--Fourth column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg"
                                     class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="" class="grey-text">
                                    <h5>Outwear</h5>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="" class="dark-grey-text">Black jacket</a>
                                    </strong>
                                </h5>

                                <h4 class="font-weight-bold blue-text">
                                    <strong>219$</strong>
                                </h4>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Fourth column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg"
                                     class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="" class="grey-text">
                                    <h5>Shirt</h5>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="" class="dark-grey-text">Denim shirt
                                            <span class="badge badge-pill danger-color">NEW</span>
                                        </a>
                                    </strong>
                                </h5>

                                <h4 class="font-weight-bold blue-text">
                                    <strong>120$</strong>
                                </h4>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg"
                                     class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="" class="grey-text">
                                    <h5>Sport wear</h5>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="" class="dark-grey-text">Sweatshirt</a>
                                    </strong>
                                </h5>

                                <h4 class="font-weight-bold blue-text">
                                    <strong>139$</strong>
                                </h4>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg"
                                     class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="" class="grey-text">
                                    <h5>Sport wear</h5>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="" class="dark-grey-text">Grey blouse
                                            <span class="badge badge-pill primary-color">bestseller</span>
                                        </a>
                                    </strong>
                                </h5>

                                <h4 class="font-weight-bold blue-text">
                                    <strong>99$</strong>
                                </h4>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Grid column-->

                    <!--Fourth column-->
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
                                     class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="" class="grey-text">
                                    <h5>Outwear</h5>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="" class="dark-grey-text">Black jacket</a>
                                    </strong>
                                </h5>

                                <h4 class="font-weight-bold blue-text">
                                    <strong>219$</strong>
                                </h4>

                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->

                    </div>
                    <!--Fourth column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Products v.3-->

            <!--Pagination-->
            <nav class="d-flex justify-content-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <ul class="pagination pg-blue">

                    <!--Arrow left-->
                    <li class="page-item disabled">
                        <a class="page-link waves-effect waves-effect" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    <li class="page-item active">
                        <a class="page-link waves-effect waves-effect" href="#">1
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link waves-effect waves-effect" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link waves-effect waves-effect" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link waves-effect waves-effect" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link waves-effect waves-effect" href="#">5</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link waves-effect waves-effect" href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--Pagination-->

        </div>
    </main>
{% endblock %}
<script type="text/javascript">

    $('.top_menu_item.header_profile').mouseenter(function () {
        $('#head1').show();
    });
    $('.top_menu_item.header_profile').mouseleave(function () {
        $('#head1').hide();
    });


    $('.top_menu_item.header_help').mouseenter(function () {
        $('#head2').show();
    });
    $('.top_menu_item.header_help').mouseleave(function () {
        $('#head2').hide();
    });

    $(document).ready(function () {

        $('.product-status.product__sales').on('click', function () {
            if ($('.product-status__text').text() === 'Купить') {
                $('.msg').toggle();
            }
        });

    });

    $(document).ready(function () {

        $('.close_button').on('click', function () {
            console.log($(this).before());
            $('.msg').hide();
        });

    });

</script>
</body>
</html>